// Margins
.mb-8 {
  margin-bottom: 8rem !important;
}


//
.pointer {
  cursor: pointer;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.w-100 {
  width: 100% !important;
}

.scale-1 {
  @include scale(1.1);
}

.bd-none {
  border: none;
}