@charset "UTF-8";
/*

0 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop

1em = 16px

ORDER: Base + Typography > Generar Layout + Grid > Page Layout > Components

*/
.mb-8 {
  margin-bottom: 8rem !important;
}

.pointer {
  cursor: pointer;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.w-100 {
  width: 100% !important;
}

.scale-1, .txt-block-btn, .txt-block-btn-dark {
  transition: ease-in-out 0.2s;
}
.scale-1:hover, .txt-block-btn:hover, .txt-block-btn-dark:hover {
  transform: scale(1.1);
}

.bd-none {
  border: none;
}

html.sr .load-hidden {
  visibility: hidden;
}

h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

p {
  color: #4B555F;
  font-size: 15px;
}

body {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb:hover {
  background: #0678BC;
}

/* Call to Action Button */
.menu-btn {
  background-color: #4B555F;
  color: #FFFFFF;
  border-radius: 15px;
  padding: 8px 24px;
  border: none;
}

.txt-block-btn, .txt-block-btn-dark {
  color: #4B555F;
  background-color: white;
  border: solid 1px #4B555F;
  border-radius: 6px;
  padding: 4px 12px;
  cursor: pointer;
}

.txt-block-btn-dark {
  background-color: #4B555F;
  border-color: white;
  color: white;
  padding: 9px 24px;
}

.block-text-style .text-block, .bloc-testimonial .header-container .text-block, .bloc-partenaire .text-block-container .text-block, .bloc-quote .text-block, .bloc-header .text-block, .block-text-style-sm .text-block, .bloc-offre .text-bloc-container .text-block, .bloc-promo .item .text-bloc-container .text-block, .bloc-frame .item .text-bloc-container .text-block, .bloc-banner .container .text-wrapper .text-container .text-block, .bloc-push .items-container .item .text-block {
  margin: 5pc 0;
  padding-left: 40px;
  border-left: solid 1px orange;
}
.block-text-style .text-block .title, .bloc-testimonial .header-container .text-block .title, .bloc-partenaire .text-block-container .text-block .title, .bloc-quote .text-block .title, .bloc-header .text-block .title, .block-text-style-sm .text-block .title, .bloc-offre .text-bloc-container .text-block .title, .bloc-promo .item .text-bloc-container .text-block .title, .bloc-frame .item .text-bloc-container .text-block .title, .bloc-banner .container .text-wrapper .text-container .text-block .title, .bloc-push .items-container .item .text-block .title {
  font-size: 45px;
  color: #4B555F;
}
.block-text-style .text-block .button-conatiner, .bloc-testimonial .header-container .text-block .button-conatiner, .bloc-partenaire .text-block-container .text-block .button-conatiner, .bloc-quote .text-block .button-conatiner, .bloc-header .text-block .button-conatiner, .block-text-style-sm .text-block .button-conatiner, .bloc-offre .text-bloc-container .text-block .button-conatiner, .bloc-promo .item .text-bloc-container .text-block .button-conatiner, .bloc-frame .item .text-bloc-container .text-block .button-conatiner, .bloc-banner .container .text-wrapper .text-container .text-block .button-conatiner, .bloc-push .items-container .item .text-block .button-conatiner {
  display: flex;
  gap: 12px;
}
@media (max-width: 48em) {
  .block-text-style .text-block, .bloc-testimonial .header-container .text-block, .bloc-partenaire .text-block-container .text-block, .bloc-quote .text-block, .bloc-header .text-block, .block-text-style-sm .text-block, .bloc-offre .text-bloc-container .text-block, .bloc-promo .item .text-bloc-container .text-block, .bloc-frame .item .text-bloc-container .text-block, .bloc-banner .container .text-wrapper .text-container .text-block, .bloc-push .items-container .item .text-block {
    max-width: 90%;
  }
}

.block-text-style-sm .text-block, .bloc-offre .text-bloc-container .text-block, .bloc-promo .item .text-bloc-container .text-block, .bloc-frame .item .text-bloc-container .text-block, .bloc-banner .container .text-wrapper .text-container .text-block, .bloc-push .items-container .item .text-block {
  margin: 50px 0;
}
.block-text-style-sm .text-block .title, .bloc-offre .text-bloc-container .text-block .title, .bloc-promo .item .text-bloc-container .text-block .title, .bloc-frame .item .text-bloc-container .text-block .title, .bloc-banner .container .text-wrapper .text-container .text-block .title, .bloc-push .items-container .item .text-block .title {
  font-size: 23px;
}

.top-bar {
  background-color: #F6F6F6;
  width: 100%;
}
.top-bar .item-container {
  justify-content: space-between;
  padding: 0 3rem;
  display: flex;
  flex-direction: row;
}
.top-bar .img-container {
  display: flex;
  flex-direction: row;
}
.top-bar .language-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
@media (max-width: 48em) {
  .top-bar {
    display: none;
  }
}

.navigation {
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08) !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.nav-container {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 48em) {
  .nav-container {
    flex-direction: column;
  }
}

.brand a,
.brand a:visited {
  color: #0c0c0c;
  text-decoration: none;
}

nav {
  float: right;
  display: flex;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 10px 20px 0 20px;
  line-height: 50px;
  background: #fff;
  color: #0c0c0c;
  text-decoration: none;
}
nav ul li a:hover {
  color: #0678BC;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
nav .icon-container {
  display: flex;
  gap: 35px;
  align-items: center;
  padding: 0 12px;
}
nav .hidden-container {
  display: flex !important;
  flex-direction: column;
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 799px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 0 0 15px;
    flex-direction: column;
    background: #fff;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li a:hover::before {
    width: 20%;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  nav .icon-container {
    display: none;
  }
  .nav-dropdown {
    position: static;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #f8b500;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
  .icon-container {
    display: flex !important;
  }
}
.bloc-quote .text-block {
  border: none;
}

.bloc-push .items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  justify-content: center;
}
.bloc-push .items-container .item {
  width: 30%;
  min-width: 264px;
  margin: auto;
  padding-bottom: 40px;
}
.bloc-push .items-container .item img {
  width: -webkit-fill-available;
}

.bloc-banner .container {
  display: flex;
  background-color: #F4F4F4;
}
.bloc-banner .container img {
  width: 30%;
}
.bloc-banner .container .text-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bloc-banner .container .text-wrapper .text-container {
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 48em) {
  .bloc-banner .container {
    flex-direction: column;
    align-items: center;
  }
  .bloc-banner .container img {
    max-width: 390px;
  }
  .bloc-banner .container .text-wrapper {
    width: 100%;
  }
  .bloc-banner .container .text-wrapper .text-container {
    width: 90%;
  }
}

.bloc-partenaire {
  padding-bottom: 60px;
}
.bloc-partenaire .text-block-container {
  width: 70%;
}
.bloc-partenaire .section-padding {
  padding: 60px 0;
}
.bloc-partenaire .brand-carousel {
  margin-top: 10%;
}
.bloc-partenaire .brand-carousel .single-logo {
  display: flex;
  justify-content: center;
}
.bloc-partenaire .brand-carousel .single-logo img {
  width: 40%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
}
.bloc-partenaire .owl-dots {
  text-align: center;
}
.bloc-partenaire .owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #222222 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}
.bloc-partenaire .owl-dot.active {
  background-color: #FF170F !important;
}

.bloc-testimonial {
  background-color: #F4F4F4;
  padding: 5pc 0;
}
.bloc-testimonial .testimonials-container {
  display: flex;
  flex-wrap: wrap;
}
.bloc-testimonial .testimonials-container .item {
  width: 250px;
  margin: auto;
  padding-bottom: 40px;
}
.bloc-testimonial .testimonials-container .item span {
  font-size: 64px;
  font-weight: bold;
}
.bloc-testimonial .testimonials-container .item .user-info {
  display: flex;
  gap: 8px;
}
.bloc-testimonial .testimonials-container .item .user-info .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bloc-promo, .bloc-frame {
  display: flex;
  flex-wrap: wrap;
}
.bloc-promo .item, .bloc-frame .item {
  width: 50%;
}
.bloc-promo .item img, .bloc-frame .item img {
  width: -webkit-fill-available;
}
.bloc-promo .item .text-bloc-container, .bloc-frame .item .text-bloc-container {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media (max-width: 48em) {
  .bloc-promo .item, .bloc-frame .item {
    width: 100%;
    padding: 12px 0;
  }
  .bloc-promo .item .text-bloc-container, .bloc-frame .item .text-bloc-container {
    padding: 12px 12px;
  }
}

.bloc-frame {
  padding: 60px;
  background-color: #F4F4F4;
}
.bloc-frame .item {
  background-color: #fff;
}
@media (max-width: 48em) {
  .bloc-frame {
    padding: 12px;
    background-color: #fff;
  }
  .bloc-frame .item {
    padding: 0;
    background-color: #4B555F;
  }
  .bloc-frame .item:last-child {
    padding-bottom: 40px;
  }
  .bloc-frame .item .text-bloc-container .text-block {
    border: none;
    padding-left: 0;
  }
  .bloc-frame .item .text-bloc-container .text-block p,
.bloc-frame .item .text-bloc-container .text-block .title {
    color: #fff;
  }
  .bloc-frame .item .button-conatiner {
    display: flex;
    flex-direction: column;
  }
  .bloc-frame .txt-block-btn, .bloc-frame .txt-block-btn-dark {
    color: #fff;
    background-color: #4B555F;
    border-color: #fff;
  }
}

.bloc-key-fact .item-container {
  margin: auto;
  padding: 5pc 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bloc-key-fact .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  max-width: 320px;
}
.bloc-key-fact .item p,
.bloc-key-fact .item span {
  text-align: center;
}
.bloc-key-fact .item span {
  margin-top: 18px;
}
.bloc-key-fact .item img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bloc-key-numb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2pc 2pc;
  justify-content: space-around;
  gap: 15px;
}
.bloc-key-numb .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
}
.bloc-key-numb .item span {
  font-size: 45px;
  font-weight: bold;
  color: #4B555F;
}

.bloc-offre {
  background-color: #F4F4F4;
  padding: 5rem 0;
}
.bloc-offre .offer-carousel .owl-stage {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}
.bloc-offre .offer-carousel .owl-stage .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bloc-offre .offer-carousel .offer-wrapper {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 350px;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container {
  display: flex;
  flex-direction: column;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .header {
  background-color: #0678BC;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .header p {
  font-size: 22px;
  font-weight: 400;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .header span {
  font-size: 30px;
  font-weight: 700;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .header p,
.bloc-offre .offer-carousel .offer-wrapper .offer-container .header span {
  color: white;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .content {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .content span {
  font-weight: 700;
  color: #4B555F;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .content span:first-child {
  font-size: 28px;
  padding: 5px 0;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .content span:last-child {
  font-size: 20px;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .content ul {
  list-style: none;
  padding: 0;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .content li {
  position: relative;
  padding: 10px 0 10px 20px;
  font-size: 15px;
  color: #4B555F;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .content li:before {
  content: "✓";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .content-sub {
  background-color: white;
  padding: 0 40% 10px 20px;
}
.bloc-offre .offer-carousel .offer-wrapper .offer-container .content-sub span {
  font-size: 13px;
  color: #4B555F;
  width: 50%;
}
.bloc-offre .offer-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}
.bloc-offre .offer-carousel .owl-nav button.owl-prev span {
  font-size: 30px;
}
.bloc-offre .offer-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}
.bloc-offre .offer-carousel .owl-nav button.owl-next span {
  font-size: 30px;
}
.bloc-offre .offer-button-container {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */